.courseImage {
    max-width: 100%;
    height: auto;
} 

.courseCardFigure {
    margin: 0;
}

.courseCard {
  background-color: #f1f1f1;
  border: 1px solid black;
  font-size: 30px;
  text-align: center;
  border-radius: 16px;
  padding: 0;
  overflow: hidden;
}

.infoPriceDiv {
    width: 100%;
    left: 0;    
}

.infoList {
    list-style-type: none;
    left: 0;
}

button{
    cursor: pointer;
    border-radius: 0.5rem;
    text-align: center;
    height: 3rem;
    width: 80%;
}

.courseCardName{
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    line-height: 1.75rem;
    display: flex;
    font-family: ui-sans-serif, system-ui;
}
h3{
    font-size: 20px;
    font-family: ui-sans-serif, system-ui;
}