body{
    margin: 10;

    color: var(--foreground);
}

.coursePanelGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--background);
    gap: 1.5rem;
    padding: 48px 40px 40px 40px;
    max-width: 80rem;
    margin: auto;
}

.coursePanelGrid .courseCard {
    background-color: var(--background);
    border: var(--border);
    /* padding: 10px; */
    font-size: 30px;
    text-align: center;
    border-radius: 16px;
    overflow: hidden;
}

.courseCard img{
    max-width: 100%;
    height: auto;
}

figure{
    margin: 0;
}